@model M133BlazorServerApp.M151Data.GameChampion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GameChampion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChampionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChampionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Region)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Geschlecht)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Geschlecht)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kampfart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kampfart)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
